*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    height: 100%;
    width: 100%;
    background-color:rgb(0, 0, 0);
}

.container
{
    height: 50%;
    width: 50%;
    /* background-color: rgb(250, 184, 61); */
    display: grid;
    /* grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px; */

    grid-template-columns:repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.white
{
    height: 100px;
    width: 100px;
    background-color: white;
}

.black
{
    height: 100px;
    width: 100px;
    background-color: rgb(96, 60, 3);
}