.container
{
    height: 800px;
    width: 1500px;
    background-color: rgb(132, 163, 240);
    padding: 1px;
    display: flex;
    justify-content:center;
    align-items: center;
}

.box
{
    height: 200px;
    width: 200px;
    background-color: rgb(255, 251, 0);
    margin: 20px;
    
    /* box-shadow: -15px 20px 10px 40px grey; */
    /* border-radius: 50%; */
    /* box-shadow: 0px 0px 50px 30px rgb(255, 136, 0); */
    /* box-shadow: inset 20px 20px 50px red; */

    transition-property: all;
    transition-duration: 2s;
    transition-timing-function:ease-in;
    transition-delay: 0.5s;
}

.box:hover
{
    background-color: rgb(250, 134, 52);
    cursor: pointer;
    /* width: 500px; */
    border-radius: 50%;
    
}
