*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    height: 100vh;
    width: 100vw;
}

.container
{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.orbit
{
    height: 100px;
    width: 100px;
    /* background-color: green; */
    position: relative;
}

.sun
{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0px;
    left: 0px;
}

.orbital1
{
    height: 160px;
    width: 160px;
    border: 1px dashed white;
    border-radius: 50%;
    order: -2;

    position: absolute;
    top: -30px;
    left: -30px;
}
 
.mercury
{
    height: 40px;
    width: 40px;
    font-size:.7rem;
    background-color: rgb(242, 255, 0);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 30px;
    left: 29px; 

    animation-name: mer;
    animation-duration: 1.2s;
    animation-timing-function:linear;
    animation-iteration-count: infinite;
}

@keyframes mer
{
    from
    {
        transform: rotate(0deg) translate(80px) rotate(0deg) ;
    }

    to
    {
        transform: rotate(360deg) translate(80px) rotate(-360deg);
    }
}

.orbital2
{
    height: 263px;
    width: 263px;
    border: 1px dashed white;
    border-radius: 50%;
    order: -2;

    position: absolute;
    top: -80px;
    left: -80px;
}

.venus
{
    background-color: turquoise;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 28px;
    left: 25px;

    animation-name: ven;
    animation-duration: 4.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes ven
{
    from
    {
        transform: rotate(0deg) translate(130px) rotate(0deg);
    }
    to
    {
        transform: rotate(360deg) translate(130px) rotate(-360deg);
    }
    
}

.orbital3
{
    height: 380px;
    width: 380px;
    border: 1px dashed white;
    border-radius: 50%;
    order: -2;

    position: absolute;
    top: -140px;
    left: -140px;
}

.earth
{
    background-color: rgb(45, 51, 243);
    color: white;
    height: 60px;
    width: 60px;
    font-size: 1.2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 20px;
    left: 21px;

    animation-name: ear;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes ear
{
    from
    {
        transform: rotate(0deg) translate(190px) rotate(0deg);
    }

    to
    {
        transform: rotate(360deg) translate(190px) rotate(-360deg);
    }
}
 
.orbital4
{
    height: 545px;
    width: 545px;
    border: 1px dashed white;
    border-radius: 50%;
    order: -2;

    position: absolute;
    top: -225px;
    left: -223px;
}

.mars
{
    background-color: rgb(255, 102, 0);
    height: 80px;
    width: 80px;
    font-size: 1.4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 10px;
    left: 11px;

    animation-name: mar;
    animation-duration: 28s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes mar
{
    from
    {
        transform: rotate(0deg) translate(270px) rotate(0deg);
    }

    to
    {
        transform: rotate(360deg) translate(270px) rotate(-360deg);
    }
}

.orbital5
{
    height: 715px;
    width: 715px;
    border: 1px dashed white;
    border-radius: 50%;
    order: -2;

    position: absolute;
    top: -308px;
    left: -306px;
}

.jupiter
{
    background-color: rgb(160, 171, 5);
    height: 95px;
    width: 95px;
    font-size: 1.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 3px;
    left: 3px;

    animation-name: jup;
    animation-duration: 100s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes jup
{
    from
    {
        transform: rotate(0deg) translate(360px) rotate(0deg);
    }

    to
    {
        transform: rotate(360deg) translate(360px) rotate(-360deg);
    }
}


